.multimedia {
    padding: 90px 0 60px;
    background-color: var(--color-gray-bg);
}

.multimedia__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px 30px;
}

.multimedia__subtitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    line-height: 23px;

    text-align: center;
    text-transform: uppercase;

    color: var(--color-orange);

    margin-bottom: 20px;
}

.multimedia__title {
    font-family: 'Libre Caslon Text', serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;

    text-align: center;

    color: var(--color-primary);

    margin-bottom: 40px;
}


.multimedia__card-img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.multimedia__card-title {
    font-family: 'Libre Caslon Text', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-orange);

    margin-bottom: 20px;
}

.multimedia__card-description {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-primary);
}

.multimedia__card-list {
    margin-top: 35px;
}

.multimedia__card-item + .multimedia__card-item {
    margin-top: 16px;
}

.multimedia__card-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);
}

.multimedia__card-item::before {
    content: "\2022";
    color: orange;
    font-size: 20px;
    margin: 0 10px 0 5px;
}

@media (min-width: 768px) {
    .multimedia__title {
        font-size: 41px;
        line-height: 48px;
    }

    .multimedia__card-img {
        width: 70px;
        height: 70px;
    }

    .multimedia__card-title {
        font-size: 24px;
        line-height: 31px;
    }

    .multimedia__card-item {
        font-size: 15px;
        line-height: 25px;
    }

    .multimedia__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .multimedia__card:last-child {
        grid-column: span 2;
    }
}

@media (min-width: 991px) {
    .multimedia__title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 50px;
    }

    .multimedia__card-title {
        font-size: 26px;
        line-height: 34px;
    }

    .multimedia__card-item {
        font-size: 16px;
        line-height: 26px;
    }

    .multimedia__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .multimedia__card:last-child {
        grid-column: span 1;
    }
}